.sidebar {
  width: 180px;
  background: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar li.active {
  font-weight: bold;
  color: #1978d7;
}
