.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}


.content-wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 50%;
}

@media (max-width: 1024px) {
  .content-wrapper {
    width: 80%;
  }
}
