.todos-container {
  width: 50%;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.completed {
  color: green;
  font-weight: bold;
}
