<h2 class="page-title">პოსტები</h2>

<div *ngIf="loading" class="loading">იტვირთება...</div>

<div class="posts-grid" *ngIf="!loading">
  <div class="post-card" *ngFor="let post of posts">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body | slice:0:100 }}...</p>

    <button class="details-btn" (click)="openModal(post)">
      დეტალურად
    </button>
  </div>
</div>

<!-- ---------- POPUP MODAL ---------- -->
<div class="modal-overlay" *ngIf="selectedPost" (click)="closeModal()"></div>

<div class="modal" *ngIf="selectedPost">
  <h2>{{ selectedPost.title }}</h2>
  <p>{{ selectedPost.body }}</p>

  <button class="close-btn" (click)="closeModal()">დახურვა</button>
</div>
